

<div class="user-profile-details">
  <h5 class="profile-title"> Personal Informations </h5>
  <div class="img-user">
    <img src="<%= current_user.image %>">
  </div>
  <div class="table-user">
    <table>
      <tr>
        <td class="name-table pro-table-rows">Name</td>
        <td class="profile-det"><%= current_user.name %></td>
        <td class="profile-det"><%= current_user.surname %></td>
      </tr>
      <tr>
        <td class="name-table pro-table-rows pro-table-rows pro-table-rows pro-table-rows">Email</td>
        <td class="profile-det"><%= current_user.email %></td>
      </tr>
      <tr>
        <td class="name-table pro-table-rows pro-table-rows pro-table-rows">Address</td>
        <td class="profile-det"><%= current_user.address %></td>
        <td class="profile-det"><%= current_user.city %></td>
        <td class="profile-det"><%= current_user.postal_code %></td>
        <td class="profile-det"><%= current_user.country %></td>
      </tr>
      <tr>
        <td class="name-table pro-table-rows pro-table-rows"> I leave on :</td>
        <td class="profile-det"><%= current_user.departure_date %></td>
      </tr>

    </table>
  </div>
  <section class="about-me">
    <p class="name-table pro-table-rows"> About me: </p>
    <p>  <%= current_user.philosophy %> </p>
  </section>
</div>
