<div class="bg-light-gray section-box-item">
  <p class="category-available">Products available for the category: <br><%= @category.name %></p>
  <% @category.products.each do |product| %>
  <div class="form-product-container" id="product<%= product.id%>" data-target="modal<%= product.id %>">
    <div class="portfolio-caption name-item-cards">
      <h6 class="name-product"><%= product.name.capitalize %></h6>
    </div>
        <div class="col-md-4 col-sm-6 portfolio-item">
          <img src="<%= product.image %>" alt="" class="img-cards-item">
          <a class="link-see-more modal-trigger" href="#productstab<%= product.id %>"> See more </a>
        </div>
  </div>
  <% end %>
</div>


  <% @category.products.each do |product| %>
    <div id="productstab<%= product.id %>" class="modal div-modal">
      <h5 class="name-modal"><%= product.name.capitalize %></h5>
      <div class="product-modal">
        <img class="img-modal" src="<%= product.image %>">
      </div>
      <div class="info-modal">
        <table class="table table-striped ">
          <tbody>
            <tr>
              <td class="name-table">Size </td>
              <td><%= product.size %></td>
            </tr>
            <tr>
              <td class="name-table"> Price </td>
              <td class="price-item"><%= number_to_currency  product.price %></td>
            </tr>
            <tr>
              <td class="name-table"> About </td>
              <td><%= product.description %></td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="modal-footer link-to-cart">
        <a rel="nofollow" data-method="post" href="/cart/add/<%= product.id %>">Add to cart</a>
      </div>
    </div>
    <% end %>


<script>

  $(document).ready(function(){
    $(".modal-trigger").leanModal();
  })
</script>
