

<% if user_signed_in? %>
  <li><%= link_to 'Add New Product', new_product_path %></li>
<% end %>

<section id="portfolio" class="bg-light-gray section-box-item">

  <% @products.each do |product| %>
    <div class="form-product-container" id="product<%= product.id%>" data-target="modal<%= product.id %>">
        <div class="box-list">
            <div class="col-md-4 col-sm-6 portfolio-item">

                    <img src="<%= product.image %>" alt="" width="250px" class="img-cards-item">
                </a>
            </div>
            <div class="portfolio-caption name-item-cards">
              <h4><%= product.name.capitalize %></h4>
              <a class="link-see-more" href="/products/<%= product.id %>"> See more </a>
            </div>
          </div>
        </div>
 <% end %>
</section>
