

<div class="box-single-item">
  <h2><%= @product.name %></h2>
  <p><%= @product.size %></p>
  <p><%= @product.description %></p>
  <p><%= number_to_currency @product.price %></p>
  <img src="<%= @product.image %>" width="150px" heigth="150px">

<button><%= link_to "Add to cart" , add_cart_path, method: :post %></button>


  <button><%= link_to 'Back', products_path %></button>
</div>
